# MongoDB Connection
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-name>.mongodb.net/

# NextAuth Configuration
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=your_nextauth_secret_here


# Google OAuth Credentials
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
